<!DOCTYPE html>
<html>
  <head>
    <title>Meteoros - Capturas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="form col-lg-12">
          <div class="col-lg-2">
            <img src="https://bramon.s3-sa-east-1.amazonaws.com/logo-tlp-sc-transp.png" alt="Logo TLP/SC" class="img-rounded" style="height: 180px !important;">
          </div>

          <div class="col-lg-10">
            <h2>Capturas - Florianópolis, SC</h2>
          </div>
        </div>

        <form method="GET" id="searchForm" class="form col-lg-12">
          <fieldset class="col-lg-2">
            <legend>Data</legend>

            <label for="data">
                Data da captura
                <input
                  type="date"
                  name="date"
                  id="date"
                  value="{{ _get['date'] }}"
                  required="required"
                  class="form-control">
            </label>
          </fieldset>

          <fieldset class="col-lg-10">
            <legend>Estação</legend>

            {% for station in stations %}
              <div class="col-lg-2">
                <label for="station_{{ station }}">
                  <input
                    type="checkbox"
                    name="station[]"
                    id="station_{{ station }}"
                    value="{{ station }}"
                    {{ station in _get['station'] ? 'checked="checked"' : '' }}>
                  {{ station }}
                </label>
              </div>
            {% endfor %}
          </fieldset>

          <div class="text-center">
            <input type="submit" value="Enviar" class="btn btn-default right">
          </div>
        </form>
      </div>

      <hr class="clearfix">

      <div class="row">        
        {% for capture in captures if capture.extension in ['jpg', 'avi'] and ((capture.filename starts with 'M' and capture.filename ends with 'P') or (capture.filename ends with 'meteors')) %}
          <div class="col-lg-4" style="margin-bottom: 1em;">
            <a href="{{ capture['path'] }}" target="_blank">
              <img src="{{ capture['path'] }}" class="img img-thumbnail img-responsive" title="{{ capture['filename'] }}">
            </a>
            <span>
              <b>{{ capture['filename'] }}</b>
            </span>
          </div>
        {% endfor %}
      </div>
    </div>

    <script src="//code.jquery.com/jquery-2.2.1.min.js" 
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" 
            crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
            crossorigin="anonymous"></script>
  </body>
</html>