<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Meteoros</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Listagem de capturas feitas pelas estações dos projetos BRAMON e GMN.">
    <meta name="keywords" content="meteor, meteoros, bramon, brazilian, meteor, observation, network, gmn, global">
    <meta name="author" content="Thiago Paes - mrprompt (at) gmail.com">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:url" content="https://meteoros.mrprompt.com.br">
    <meta property="og:title" content="BRAMON - GMN - Capturas">
    <meta property="og:site_name" content="BRAMON - GMN - Capturas">
    <meta property="og:description" content="Listagem de capturas feitas pelas estações dos projetos BRAMON e GMN.">
    <meta property="og:image" content="{{ logo }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <header style="margin-bottom: .5em;">
        <div class="row">
          <div class="col-lg-1">
            <a href="./"><img src="{{ logo }}" alt="Logo" class="img-rounded" style="height: 100px !important;"></a>
          </div>

          <div class="col-lg-4">
            <dl class="dl-horizontal">
              <dt>Câmeras:</dt>
              {%  for camera in cameras %}
              <dd>{{  camera }}</dd>
              {% endfor %}

              <dt>Lentes:</dt>
              {% for lens in lenses %}
              <dd>{{ lens }}</dd>
              {% endfor %}
            </dl>
          </div>

          <div class="col-lg-3">
              <dl class="dl-horizontal">
                <dt>Latitude:</dt>
                <dd>{{ lat }}</dd>

                <dt>Longitude:</dt>
                <dd>{{ lng }}</dd>

                <dt>Projetos:</dt>
                <dd><a href="http://bramonmeteor.org/bramon/" title="Brazilian Meteor Observation Network" target="_blank">BRAMON</a></dd>
                <dd><a href="https://globalmeteornetwork.org" title="Global Meteor Network" target="_blank">GMN</a></dd>
              </dl>
          </div>

          <div class="col-lg-4">
          </div>
        </div>
      </header>

      <main role="main">
        <div class="row">
          <div class="col-lg-2">
            <form method="GET" id="searchForm" class="form" style="margin-top: 25px">
              <div class="form-group">
                <label for="data">Data da captura</label>
                <input type="date" name="date" id="date" value="{{ _get['date'] | date('Y-m-d') }}" required="required" class="form-control">
              </div>

              <h5>Estações</h5>

              {% for station in stations %}
              <div class="form-group" style="margin-bottom: .2em;">
                <input type="checkbox" name="station[]" id="station_{{ station }}" value="{{ station }}" {{ station in _get['station'] ? 'checked="checked"' : '' }}>
                <label for="station_{{ station }}">{{ station }}</label>
              </div>
              {% endfor %}

              <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-default">
              </div>
            </form>
          </div>

          <div class="col-lg-10">
            <div class="row set-bramon">
              <div class="col-lg-12">
                <h3>BRAMON</h3>
              </div>

              {% for capture in captures if capture.extension in ['jpg'] and (capture.filename starts with 'M' and capture.filename ends with 'P') %}
                <div class="col-lg-4" style="margin-bottom: 1em;">
                  <a href="#videoModal" data-toggle="modal" data-video="https://{{ bucket }}.s3-{{ region }}.amazonaws.com/{{ capture['path'] | replace({'.jpg': ''}) }}">
                    <img src="https://{{ bucket }}.s3-{{ region }}.amazonaws.com/{{ capture['path'] }}" class="img img-thumbnail img-responsive" title="{{ capture['filename'] }}">
                  </a>
                  <span>
                  <b>{{ capture['filename'] }}</b>
                </span>
                </div>
              {% else %}
              <div class="col-lg-12">
                <div class="alert alert-warning">
                  Sem capturas para a data.
                </div>
              </div>
              {% endfor %}
            </div>

            <div class="row set-gmn">
              <div class="col-lg-12">
                <h3>GMN</h3>
              </div>

              {% for capture in captures if capture.extension in ['jpg', 'gif'] and capture.filename ends with 'fits_maxpixel' %}
                <div class="col-lg-4" style="margin-bottom: 1em;">
                  <a href="#videoModal" data-toggle="modal" data-video="https://{{ bucket }}.s3-{{ region }}.amazonaws.com/{{ capture['path'] }}">
                    <img src="https://{{ bucket }}.s3-{{ region }}.amazonaws.com/{{ capture['path'] }}" class="img img-thumbnail img-responsive" title="{{ capture['filename'] }}">
                  </a>
                  <span>
                  <b>{{ capture['filename'] | replace({'.fits_maxpixel': ''}) }}</b>
                </span>
                </div>
              {% else %}
              <div class="col-lg-12">
                <div class="alert alert-warning">
                  Sem capturas para a data.
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </main>
    </div>

    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
            <h4 class="modal-title" id="myModalLabel">Captura</h4>
          </div>
          <div class="modal-body text-center">
            <iframe id="video_source_0" width="720" height="480" src="" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <script src="//code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" 
            crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
            crossorigin="anonymous"></script>
    <script>
      $(".set-bramon .col-lg-4 a").on("click", function(e) {
        e.preventDefault();

        var $this = $(this);
        var video = new String($this.attr('data-video'));
        var videoSrc = video.slice(0, -1) + '.mp4';

        $("#videoModal").on('hide.bs.modal', function(){
          $("#video_source_0").attr('src', '');
        });

        $("#videoModal").on('show.bs.modal', function(){
          $("#video_source_0").attr('src', videoSrc);
        });
      });

      $(".set-gmn .col-lg-4 a").on("click", function(e) {
        e.preventDefault();

        var $this = $(this);
        var videoSrc = new String($this.attr('data-video'));

        $("#videoModal").on('hide.bs.modal', function(){
          $("#video_source_0").attr('src', '');
        });

        $("#videoModal").on('show.bs.modal', function(){
          $("#video_source_0").attr('src', videoSrc);
        });
      });
    </script>
  </body>
</html>